

<h1 class="title-page-welcome"><%= @park.name %></h1>

<p class="title-page-info">
      <%= @park.address %>
      <%= @park.city %>
      <%= @park.state %>
      <%= @park.zip %></p>
      <p class="title-page-info"><%= @park.description %></p>


<ul class="ride-tile-list">
  <% @rides.each do |ride| %>
  <li class="park-tile ride-tile"><%= link_to "#{ride.name}",park_ride_path(@park, ride)%></li>
  <% end %>
</ul>

<%= link_to 'Add a Ride', new_park_ride_path(@park) %>
<%= link_to 'Back to main', parks_path(@park) %>
