<h1 class="title-page-welcome"><%= @ride.name %></h1>

<p class="title-page-info"><%= @ride.description %></p>

<div class="review-tile-list">
  <% @reviews.each do |review| %>
    <ul class="review-tile-block">
      <p id="review-tile__title">Title: <%= review.title %></p>
      <p id="review-tile__body">Body: <%= review.body %></p>
      <p id="review-tile__rating">Rating: <%= review.rating %></p>
    </ul>
  <% end %>
</div>

<%= link_to 'Add a Review', new_ride_review_path(@ride) %>
<%= link_to 'Back to rides', park_path(@ride.park.id) %>
