<h1 class="title-page-welcome"><%= @ride.name %></h1>

<h2><img id="ride-photo" src="<%= @ride.ride_photo.url %>" alt='ride photo'></h2>
<p class="title-page-info"><%= @ride.description %></p>

<div id="app"></div>


<p class="title-page-info"><%= link_to 'Add a Review', new_ride_review_path(@ride) %></p>
<p class="title-page-info"><%= "**description from wikipedia**" %></p>
<h5 class="title-page-info"><%= link_to 'Back to rides', park_path(@ride.park.id) %></h5>

<%if current_user.try(:superadmin_role)%>
  <h5 class="title-page-info"><%= link_to 'Delete Ride', park_ride_path(@ride.park.id), method: :delete, data: { confirm: 'Are you sure?' } %></h5>
<%end%>
