<h1 class="title-page-welcome"><%= @ride.name %></h1>

<h2><img src="<%= @ride.ride_photo.url %>" alt='ride photo'></h2>
<p class="title-page-info"><%= @ride.description %></p>
<%= link_to 'Back to rides', park_path(@ride.park.id) %>

<%if current_user.try(:superadmin_role)%>
  <%= link_to 'Delete Ride', park_ride_path(@ride.park.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
