<h1 class="title-page-welcome"><%= @ride.name %></h1>

<h2><img id="ride-photo" src="<%= @ride.ride_photo.url %>" alt='ride photo'></h2>
<p class="title-page-info"><%= @ride.description %></p>
<!--
<div class="review-tile-list">
  <% @reviews.each do |review| %>
    <ul class="review-tile-block">
      <p id="review-tile__title">Title: <%= review.title %></p>
      <p id="review-tile__body">Body: <%= review.body %></p>
      <p id="review-tile__rating">Rating: <%= review.rating %></p>
    </ul>
  <% end %>
</div> -->

<div id="app"></div>


<%= link_to 'Add a Review', new_ride_review_path(@ride) %>
<%= link_to 'Back to rides', park_path(@ride.park.id) %>

<%if current_user.try(:superadmin_role)%>
  <%= link_to 'Delete Ride', park_ride_path(@ride.park.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
